<div>
    <mat-card class="example-card">
        <mat-card-header>
          <div mat-card-avatar class="example-header-image"></div>
          <mat-card-title>Welcome</mat-card-title>
          <mat-card-subtitle>Online Collaborate</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image src="../../assets/hey.jpeg" alt="Photo of a Shiba Inu">
        <mat-card-content>
          <p>
            We welcome you to one of the best collaborate Platform "Online Collaborate"
            Join us and Collaborate with us. Happing Collaborating..
        </p>
        </mat-card-content>
        <mat-card-actions>
          <button mat-button>LIKE</button>
          <button mat-button>SHARE</button>
        </mat-card-actions>
      </mat-card>
      <mat-card class="example-card">
        <mat-card-header>
          <div mat-card-avatar class="example-header-image"></div>
          <mat-card-title>New Space in Town</mat-card-title>
          <mat-card-subtitle>Replacing Online Collaborate</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image src="../../assets/blog2.jpeg" alt="Photo of a Shiba Inu">
        <mat-card-content>
          <p>
            This will be the structure of the project and will be completed and published as soon as possible. The Ideas's of a project 
            "Suprise(this is not the name)" will soon be seen 
            as soon as possible and at that time I would need you people signing up for my space.
          </p>
        </mat-card-content>
        <mat-card-actions>
          <button mat-button>LIKE</button>
          <button mat-button>SHARE</button>
        </mat-card-actions>
      </mat-card>
</div>
