.card{
    margin-left: 3%;
    margin-right: 35%;
    margin-top: 2%;
}
.mat-form-field {
    margin-right: 2px;
    
}
.example-card {
    max-width: 400px;
    margin-top: 2%;
    margin-left: 4%;
  }
  
  .example-header-image {
   
    background-size: cover;
  }