.blog{
    margin-left: 25%;
    margin-top: 3%;

}
.Post{
    margin-left: 27%;
    margin-top: 1%;
}
.Delete{
    margin-left: 2%;
    margin-top: 1%;
}
.card{
    margin-left: 3%;
    margin-right: 35%;
    margin-top: 2%;
}
.mat-form-field {
    margin-right: 2px;
    
}
.example-card {
    max-width: 400px;
    margin-top: 2%;
    margin-left: 4%;
  }
  
  .example-header-image {
   
    background-size: cover;
  }