.background{
    background: url(../../assets/Homeb.jpg);
    size: 88vh;
}
.example-spacer {
    flex: 1 1 auto;
  }
.navbar{
    justify-content: space-between;
}
span{
    padding-right: 1rem;
}
.navbar-spacer {
    flex: 1 1 auto;
}
.example-flex-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.example-button-row .mat-button-base {
    margin: 8px 8px 8px 0;
}
.example-button-container {
    display: flex;
    justify-content: center;
    width: 120px;
}
.example-button-row {
    display: table-cell;
    width: 490px;
}
.example-label {
    display: table-cell;
    font-size: 14px;
    margin-left: 8px;
    min-width: 120px;
}
section {
    display: table;
}
section {
    display: table;
  }
  
  .example-label {
    display: table-cell;
    font-size: 14px;
    margin-left: 8px;
    min-width: 120px;
  }
  
  .example-button-row {
    display: table-cell;
    width: 250px;
  }
  
  .example-button-row .mat-button-base {
    margin: 8px 8px 8px 0;
  }
  
  .example-flex-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  
  .example-button-container {
    display: flex;
    justify-content: center;
    width: 120px;
  }
  .home img{
    width: 100%;
    height: 1000px;
    object-position: center;
    object-fit: cover;
  }
  .home1content {
    position: absolute;
    top: 38%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.home1content h1{
    color:rgb(19, 11, 1);
    font-size: 50px;
}
